<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028235389386-uevpev8t7oq428hs1uhgvikp27k6h1om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028235389386-uevpev8t7oq428hs1uhgvikp27k6h1om</string>
	<key>API_KEY</key>
	<string>AIzaSyArTuVwFfNAtutXpmC5vnrEJCOP3wEdBuA</string>
	<key>GCM_SENDER_ID</key>
	<string>1028235389386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.therapyAi</string>
	<key>PROJECT_ID</key>
	<string>therapy-f16ea</string>
	<key>STORAGE_BUCKET</key>
	<string>therapy-f16ea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028235389386:ios:61505552208b58c294c733</string>
	<key>DATABASE_URL</key>
	<string>https://therapy-f16ea-default-rtdb.firebaseio.com</string>
</dict>
</plist>